#navbar {
  position: fixed; /**/
  width: 100%;
  z-index: 9999999;
}

/* navbar container */
.container {
  margin: 0 auto;
  padding: 0px 0px;
}

#nav-links a {
  color: #dac898;
  text-decoration: none;
  /*
  float: right;
  display: block;
  text-align: center;
  padding: 18px 24px;
  font-size: 24px;
  */
}

.nav-link {
  list-style: none;
  margin: 0px 0;
  width: 100%;
}

.nav-links {
  height: 0;
  overflow: hidden;
}

.nav-open {
  height: 100vh;
}

#nav-links a {
  color: #dac898;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  font-size: 24px;
  display: block;
}

#nav-links a:hover {
  background-color: #dac898;
  color: #3b3c37;
}

#nav-links a.active {
  background-color: #a63a33;
  color: #dac898;
}

.flex-nav {
  display: flex;
  flex-direction: column;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  border: transparent;
  background: transparent;
  float: right;
  padding: 18px 28px;
  margin-right:72px;
  color: #dac898;
  font-size: 1.5rem;
}
.nav-toggle:hover {
  color:#3b3c37;
  background-color: #dac898;
}

/*
#nav-links a {
  float: right;
  display: block;
  color: #dac898;
  text-align: center;
  padding: 18px 24px;
  text-decoration: none;
  font-size: 24px;
}

#nav-links a:hover {
  background-color: #dac898;
  color: #3b3c37;
}

#nav-links a.active {
  background-color: #a63a33;
  color: #dac898;
}

#navToggle {
  border: transparent;
  background: transparent;
  float: right;
  padding: 18px 28px;
  margin-right:72px;
  color: #dac898;
  font-size: 1.5rem;
}
#navToggle:hover {
  color:#3b3c37;
  background-color: #dac898;
}
*/

@media only screen and (min-width: 900px) {
  .nav-toggle {
    display:none;
  }
  #nav-links {
    display: block;
  }
}
@media only screen and (max-width: 900px) {
  #nav-links {
    display: none;
  }
}

#logo {

  padding-left: 100px;
  margin-top:8px;
  filter: invert(10%) sepia(17%) saturate(615%) hue-rotate(353deg) brightness(90%) contrast(90%);
}