*
{
  margin:0;
  padding:0;
}

html
{
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body 
{
  margin: 0;
  font-size: 28px;
  font-family: Consolas;
  color: #fffaf0;
  background-color: #3b3c37;
}

.main-section
{
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

.video-container 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -9999;
}

.video-container video
{
  position: fixed;
  z-index: -9999;
  height: 100%;
  /* width: 177.77777778vh; /* 100 * 16 / 9 */
  min-width: 100%;
  /* min-height: 56.25vw; /* 100 * 9 / 16 */
  width: 233vh;
  min-height: 429.166666667vw;
  left: 50%; /* % of surrounding element */
  top: 50%;
  transform: translate(-50%, -50%); /* % of current element */
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.video-overlay 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color:hsl(72, 4%, 10%);
  opacity: 80%;
  z-index: -9998;
  
}

.header 
{
  padding: 20px;
  text-align: center;
}

#navbar 
{
  overflow: hidden;
  height: 64px;
  z-index: 9999999;
  
}

.nav-links a 
{
  float: right;
  display: block;
  color: #dac898;
  text-align: center;
  padding: 18px 24px;
  text-decoration: none;
  font-size: 24px;
}

.nav-links a:hover 
{
  background-color: #dac898;
  color: #3b3c37;
}

.nav-links a.active
{
  background-color: #a63a33;
  color: #dac898;
}

.sticky 
{
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content 
{
  padding-top: 60px;
}

.logo
{
  position: absolute;
  padding-left: 100px;
  padding-top: 8px;
  filter: invert(10%) sepia(17%) saturate(615%) hue-rotate(353deg) brightness(90%) contrast(90%);
}

.main-section
{
  height: 100vh;
  width: 100%;
}

.title
{
  top:0;
  left:0;
  font-size: 5rem;
  padding-top: 34vh;
  padding-left:100px;
  z-index: -1;
  color: #dac898;
}
.blink
{
  animation:blinker 1s step-start infinite;
  margin-left:-20px;
  font-size: 110%;
}
@keyframes blinker
{
  50% {opacity: 0;}
}

.content 
{
  background-color: #3b3c37;
}

.interests
{
  width: 100%;
  height: 540px;
  background-color: hsl(4, 53%, 22%);
}

