*
{
  margin: 0;
  padding: 0;
}

html
{
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

.header
{
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

.logo
{
  top: 50px;
  left: 100px;
  position: absolute;
  font-size: 2rem;
  z-index: 2;
  filter: invert(10%) sepia(17%) saturate(615%) hue-rotate(353deg) brightness(90%) contrast(90%);
}

.nav-bar
{
  display: table;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  right: 75px;
  z-index: 2;
  font-size: 24px;
}

ul#nav-list
{
  background-color: rgba(255,255,255,0%);
}

ul#nav-list li
{
  display: inline-block;
  padding: 25px;
}

ul#nav-list li a:visited, ul#nav-list li a:link
{
  color: #dac898;
  text-decoration: none;
}

ul#nav-list li:hover
{
  background-color: rgba(166, 58, 51, 0.5);
}

ul#nav-list li a:hover
{

}

ul#nav-list > ul > li
{
  width: 500px;
}

.title
{
  position: left;
  text-align: left;
  font-size: 5rem;
  padding-left: 100px;
  z-index: 1;
  color: #dac898;
}

.blink
{
  animation:blinker 1s step-start infinite;
  margin-left:-20px;
  font-size: 110%;
}
@keyframes blinker
{
  50% {opacity: 0;}
}

.video-container 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

.video-container video
{
  position: fixed;
  z-index: -999;

  height: 100%;

  /* width: 177.77777778vh; /* 100 * 16 / 9 */
  min-width: 100%;
  /* min-height: 56.25vw; /* 100 * 9 / 16 */

  width: 233vh;
  min-height: 429.166666667vw;
  left: 50%; /* % of surrounding element */
  top: 50%;
  transform: translate(-50%, -50%); /* % of current element */
}

.video-overlay 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsl(72, 4%, 10%);
  opacity: 80%;
}

.about
{
  width: 100%;
  height: 1080px;
  background-color: hsl(72, 4%, 10%);
}

.about h1
{
  top:50px;
  position:relative;
  font-size:3rem;
  text-align:center;
  z-index:2;
}

.about-big h1
{
  margin-top:-500px; 
  left:480px;
  position:relative;
  text-align:center;
  font-size:960px;
  opacity:1%;
}

.about p
{
  position: relative;
  margin-top: -500px;
  margin-left: 720px;
  margin-right: 100px;
  font-size: 24px;
  padding: 0px;
  text-align: justify;
}

.picture-of-me
{
  position:relative;
  left:100px;
  top:150px;
  height:100%;
  z-index:5;
}

.interests
{
  width: 100%;
  height: 540px;
  background-color: hsl(4, 53%, 22%);
}
