@font-face {
  font-family: "Consolas"; 
  src: local("Consolas Bold"),
       local("Consolas-Bold"),
       url("../assets/fonts/Consolas Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Consolas"; 
  src: local("Consolas"),
       local("Consolas"),
       url("../assets/fonts/Consolas.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0.4em;
}
::-webkit-scrollbar-track {
  background: hsl(72, 4%, 10%);
}
::-webkit-scrollbar-thumb {
  background: #a63a33;
  box-shadow:  0px 0px 20px rgba(0, 0, 0,0.5);
  border-radius: 0vw;
  border: .1em solid #dac898;
}
@supports (scrollbar-color: transparent transparent) {
  * {
    scrollbar-color: #a63a33 hsl(72, 4%, 10%);
    scrollbar-width: auto;
  }
}

.typewrite {
  text-decoration: none;
  text-align: center;
  color:#dac898;
}

* {
  margin:0;
  padding:0;
  /*
  outline: 1px solid rgba(255, 0, 0,0.25) !important;
  visibility: visible !important
  /*opacity: 1 !important;*/

}

html {
  scroll-behavior: smooth;
  font-family: "Consolas", Helvetica, Courier New, Courier, monospace;
  color: #fffaf0;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0px;
  font-size: 28px;
  background-color: hsl(72, 4%, 10%);
}

.main-section {
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -9999;
}

.video-container video {
  position: fixed;
  z-index: -9999;
  height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
  left: 50%; /* % of surrounding element */
  top: 50%;
  transform: translate(-50%, -50%); /* % of current element */
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color:rgb(26, 27, 24);
  opacity: 90%;
  z-index: -9998;
  
}

.header {
  padding: 20px;
  text-align: center;
}

#navbar {
  width: 100%;
  z-index: 999999;
}

/* navbar container */
.container {
  margin: 0 auto;
  padding: 0px 0px;
}

#nav-links a {
  color: #dac898;
  text-decoration: none;
}

.nav-link {
  list-style: none;
  margin: 0px;
  /*width: 100%;*/
}

.nav-links {
  height: 0;
  overflow: hidden;
}

.nav-open {
  height: max-content;
}

#nav-links a {
  color: #dac898;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  font-size: 24px;
  display: block;
}

#nav-links a:hover {
  background-color: #dac898;
  color: hsl(72, 4%, 10%);
}

#nav-links a.active {
  background-color: #a63a33;
  color: #dac898;
}

.flex-nav {
  display: flex;
  flex-direction: column;
}

.nav-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  border: transparent;
  background: transparent;
  float: right;
  padding: 18px 28px;
  color: #dac898;
  font-size: 1.5rem;
}
.nav-toggle:hover {
  color:hsl(72, 4%, 10%);
  background-color: #dac898;
}

@media only screen and (min-width: 900px) {
  .flex-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
  }
  #logo {
    margin-top: -24px;
    padding-left: 100px;
  }
  .main-section p > a {
    right: 100px;
  }
  .nav-header {
    display: block;
  }
  .nav-link {
    display: inline-flex;
  }
  .nav-links {
    height: auto;
  }
  .nav-toggle {
    display:none;
  }
  #navbar {
    background-color: none;
    backdrop-filter: none;
    box-shadow: none;
  }
  .title {
    margin-left: 100px;
    margin-right: 100px;
  }
  ul {
    text-align: center;
    display: flex;
  }
}
@media only screen and (max-width: 900px) {
  #logo {
    padding: 32px;
  }
  .main-section p > a {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .nav-header {
    display: block;
  }
  #navbar {
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    -moz-backdrop-filter: blur(25px);
    -o-backdrop-filter: blur(25px);
    -ms-backdrop-filter: blur(25px);
  }
  .title {
    margin-left: 75px;
    margin-right: 75px;
  }
}

/*
.navbar-blur {
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  -moz-backdrop-filter: blur(25px);
  -o-backdrop-filter: blur(25px);
  -ms-backdrop-filter: blur(25px);
}

#navbar-no-blur {
  background-color: none;
  backdrop-filter: none;
  box-shadow: none;
}
*/

.sticky 
{
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#logo {
  position: absolute;
  margin-top: -24px;
  filter: invert(10%) sepia(17%) saturate(615%) hue-rotate(353deg) brightness(90%) contrast(90%);
}

.main-section {
  height: 100vh;
  width: 100%;
}

.title {
  position: relative;
  font-size: clamp(1rem, 3vw + 1rem, 5rem);
  /*font-size: calc(2.75vw + 2.75vh);*/
  padding-top: 40vh;
  color: #dac898;
  z-index: -1;
}

.main-section p > a {
  position: absolute;
  bottom: 7.5vh;
  font-size: 20px;
  text-decoration: none;
  background-color: rgba(219, 201, 154,0.1);
  color: #dac898;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(100px);
  -moz-backdrop-filter: blur(100px);
  -o-backdrop-filter: blur(100px);
  -ms-backdrop-filter: blur(100px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0,0.2);
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  width: 320px;
  height: 48px;
  border-radius: 100px;
}

.main-section p > a:hover {
  text-decoration: underline;
  color:hsl(72, 4%, 10%);
  background-color: #dac898;
}

.blink {
  border-right: 0.5em solid #dac898;
  animation:blinker 1s step-start infinite;
}
@keyframes blinker {
  50% {opacity: 0;}
}

.content {
  position: relative;
  background-color: hsl(72, 4%, 10%);
}

#about-container {
  position: relative;
  width: 100%;
  height: 810px;
  background-color: hsl(72, 4%, 10%);
  scroll-margin-top: 64px;
}

.about-header {
  width: 100%;
  height: 100px;
}

.about-header h1 {
  font-size:48px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px; 
  z-index:2;
}

.about-content {
  position: relative;
}

/*
.about-text p {
  position: absolute;
  left: 500px;
  right: 250px;
  top: 100px;
  font-size: 20px;
  text-align: justify;
  overflow:hidden;
}
*/

/*
.picture-of-me img {
  position: absolute;
  top: 50px;
  left: 200px;
  width: clamp(150px, 10vw + 250px, 480px);
  z-index:5;
}
*/

.about-text {
  position: absolute;
  width: 100%;
}

.about-text p {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 100px;
  font-size: 20px;
  text-align: justify;
}

.picture-of-me img {
  position: absolute;
  top: 50px;
  left: 200px;
  width: 300px;
  z-index:5;
}

.interests-container {
  position: relative;
  width: 100%;
  height: 540px;
  background-color: hsl(4, 53%, 43%);
}

.interests-header {
  width: 100%;
  height: 100px;
}

.interests-header h1 {
  font-size: 48px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  color:#dac898;
  z-index:2;
}

footer {
  color: #1a1b18;
  font-size: 24px;
}

.footer {
  position: relative;
  width: 100%;
  height: 360px;
  background-color: #76b598;
}

.copyright {
  position: absolute;
  width: 100%;
  height: 48px;
  background-color: #dac898;
}

.copyright p {
  color: hsl(72, 4%, 10%);
  font-size: 16px;
  text-align: center;
  padding:14px;
}

