#about-container {
  background-color: hsl(72, 4%, 10%);
  height: max-content;
  position: relative;
  scroll-margin-top: 64px;
  width: 100%;
}
#blinkBox {
  animation: blinker 1s step-start infinite;
  border-right: 0.5em solid #dac898;
}
#footer-container {
  height: max-content;
  position: relative;
  width: 100%;
}
#logo {
  margin-top: -24px;
  position: absolute;
}
#logo a>img {
  content: url("../assets/images/image-LogoUiTM.png");
  display: inline-block;
  height: 48px;
}
#navbar {
  width: 100%;
  z-index: 999999;
}
#nav-links a {
  color: #dac898;
  display: block;
  font-size: 24px;
  padding: 18px;
  text-align: center;
  text-decoration: none;
}
#nav-links a {
  color: #dac898;
  text-decoration: none;
}
#nav-links a.active {
  background-color: #a63a33;
  box-shadow: 0px 0px 0px 3px #dac898 inset;
  color: #dac898;
}
#nav-links a.active:hover {
  background-color: #a63a33;
  box-shadow: 0px 0px 0px 3px #dac898 inset;
  color: #dac898;
}
#nav-links a:hover {
  background-color: #dac898;
  color: hsl(72, 4%, 10%);
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#progImg1 {
  top: 0px;
  left: 0px;
}
#progImg2 {
  bottom: 0px;
  right: 0px;
}
* {
  margin: 0;
  /*outline: 1px solid rgba(255, 0, 0, 0.25) !important;*/
  padding: 0;
  visibility: visible !important;
}
.about-content {
  position: relative;
}
.about-header {
  height: 100px;
  width: 100%;
}
.about-header h1 {
  font-size: 48px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  z-index: 2;
}
.about-text {
  padding-bottom: 50px;
  padding-top: 50px;
  width: 100%;
}
.about-text p {
  display: block;
  font-size: 20px;
  text-align: justify;
}
.about-text>table {
  font-size: 20px;
  padding-bottom: 25px;
}
.achievements-container {
  background-color: #dac898;
  height: max-content;
  position: relative;
  width: 100%;
}
.achievements-content {
  display: flex;
  justify-content: center;
  padding: 50px;
  text-align: center;
}
.achievements-header {
  height: 100px;
  width: 100%;
}
.achievements-header h1 {
  color: #1a1b18;
  font-size: 48px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  z-index: 2;
}
.col1 {
  padding-right: 12px;
  text-align: right;
  vertical-align: top;
}
.contact-container {
  height: max-content;
  position: relative;
  width: 100%;
}
.contact-content {
  background-color: #fffaf0;
  color:#1a1b18;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.contact-header {
  background-color: #fffaf0;
  color:#1a1b18;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.contact-header h1 {
  font-size: 48px;
  line-height: auto;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  z-index: 2;
}
.container {
  margin: 0 auto;
  padding: 0px 0px;
}
.content {
  background-color: hsl(72, 4%, 10%);
  position: relative;
}
.content-toggle {
  top: 64px;
}
.copyright {
  background-color: #dac898;
  height: 48px;
  position: absolute;
  width: 100%;
}
.copyright p {
  color: hsl(72, 4%, 10%);
  font-size: 14px;
  padding: 16px;
  text-align: center;
}
.education-container {
  background-color: #1a1b18;
  height: max-content;
  position: relative;
  width: 100%;
}
.education-content {
  box-sizing: border-box;
}
.education-header {
  height: 100px;
  width: 100%;
}
.education-header h1 {
  color: #fffaf0;
  font-size: 48px;
  line-height: 100px;
  text-align: center;
  z-index: 2;
}
.flex-nav {
  display: flex;
  flex-direction: column;
}
.footer-container {
  position: relative;
}
.footer-content {
  background-color: #76b598;
  padding: 50px 100px 50px 100px;
}
.footer-items {
  position: relative;
  width: 100%;
}
.footer-link {
  list-style: none;
  margin: 0px;
}
.footer-link a {
  color: #1a1b18;
  line-height: 32px;
  text-decoration: none;
}
.footer-link a:hover {
  opacity: 50%;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.footer-logo {
  width: 360px;
}
.footer-logo a {
  text-decoration: none;
}
.footer-logo a>img {
  content: url("../assets/images/LogoUiTM.png");
  display: inline-block;
  height: 48px;
}
.header {
  padding: 20px;
  text-align: center;
}
.interest-box {
  color: #dac898;
  display: inline-block;
  font-size: 24px;
  padding: 25px;
}
.interest-icon {
  border-radius: 50%;
  height: 160px;
  margin-bottom: 20px;
  width: 160px;
}
.interest-icon>img {
  filter: invert(90%) sepia(17%) saturate(615%) hue-rotate(353deg) brightness(90%) contrast(90%);
}
.interests-container {
  background-color: hsl(4, 53%, 43%);
  height: max-content;
  position: relative;
  width: 100%;
}
.interests-content {
  display: flex;
  justify-content: center;
  padding: 50px;
  text-align: center;
}
.interests-header {
  height: 100px;
  width: 100%;
}
.interests-header h1 {
  color: #dac898;
  font-size: 48px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  z-index: 2;
}
.left {
  margin-left: -80px;
}
.left::before {
  border: medium solid #fffaf0;
  border-color: transparent transparent transparent #fffaf0;
  border-width: 10px 0 10px 10px;
  content: " ";
  height: 0;
  position: absolute;
  right: 30px;
  top: 22px;
  width: 0;
  z-index: 1;
}
.link-box {
  display: inline-block;
  text-align: center;
}
.link-box a>img {
  height: 32px;
}
.link-icon {
  filter: invert(8%) sepia(7%) saturate(695%) hue-rotate(39deg) brightness(95%) contrast(93%);
  padding: 2px;
}
.link-icon:hover {
  opacity: 75%;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.link-icons {
  bottom: 0px;
  padding: 0px;
  position: absolute;
  right: 0px;
}
.link-icons p {
  font-size: 16px;
}
.link-github a>img {
  content: url("../assets/icons/icon-github.png");
  display: inline-block;
}
.link-facebook a>img {
  content: url("../assets/icons/icon-facebook.png");
  display: inline-block;
}
.link-instagram a>img {
  content: url("../assets/icons/icon-instagram.png");
  display: inline-block;
}
.link-twitter a>img {
  content: url("../assets/icons/icon-twitter.png");
  display: inline-block;
}
.link-youtube a>img {
  content: url("../assets/icons/icon-youtube.png");
  display: inline-block;
}
.link-deviantart a>img {
  content: url("../assets/icons/icon-deviantart.png");
  display: inline-block;
}
.link-artstation a>img {
  content: url("../assets/icons/icon-artstation.png");
  display: inline-block;
}
.link-whatsapp a>img {
  content: url("../assets/icons/icon-whatsapp.png");
  display: inline-block;
}
.main-section {
  height: 100vh;
  width: 100%;
}
.main-section {
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.main-section p>a {
  backdrop-filter: blur(50px);
  -moz-backdrop-filter: blur(100px);
  -ms-backdrop-filter: blur(100px);
  -o-backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  background-color: rgba(219, 201, 154, 0.1);
  border-radius: 100px;
  bottom: 7.5vh;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  color: #dac898;
  font-size: 20px;
  height: 48px;
  line-height: 48px;
  
  position: absolute;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 320px;
}
.main-section p>a:hover {
  background-color: #dac898;
  color: hsl(72, 4%, 10%);
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.nav-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.nav-link {
  list-style: none;
  margin: 0px;
}
.nav-links {
  height: 0;
  overflow: hidden;
}
.nav-open {
  height: max-content;
}
.nav-toggle {
  background: transparent;
  border: transparent;
  color: #dac898;
  float: right;
  font-size: 1.5rem;
  padding: 18px 28px;
}
.nav-toggle:hover {
  background-color: #dac898;
  color: hsl(72, 4%, 10%);
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.personal-portfolio {
  height: 100%;
  width: 50%;
  position: relative;
}
.personal-portfolio h2 {
  display: flex;
  height: 270px;
  justify-content: center;
  line-height: 270px;
  vertical-align: middle;
}
.picture-of-me1 {
  flex-basis: 50%;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-top: 50px;
}
.picture-of-me2 {
  flex-basis: 50%;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-top: 50px;
}
.picture-of-me1 img {
  border-radius: 75px;
  box-shadow: -10px 10px 0px #a63a33;
  display: block;
  height: auto;
  margin: auto;
  object-fit: cover;
  object-position: 0px 0px;
  width: 360px;
  z-index: 5;
}
.picture-of-me2 img {
  border-radius: 75px;
  box-shadow: -10px 10px 0px #a63a33;
  display: block;
  height: auto;
  margin: auto;
  object-fit: cover;
  object-position: 0px 0px;
  width: 360px;
  z-index: 5;
}
.portfolio-container {
  height: max-content;
  position: relative;
  width: 100%;
}
.portfolio-personal {
  background-color: rgba(255, 250, 240, 0.025);
  display: flex;
  height: 270px;
  position: relative;
  width: 100%;
}
.portfolio-programming {
  height: 900px;
  position: relative;
  width: 100%;
}
.programming-portfolio {
  position: relative;
}
.programming-portfolio-img {
  border: solid 3px;
  border-radius: 20px;
  height: 90%;
  position: absolute;
  width: 60%;
}
.programming-portfolio-img>img {
  border-radius: 15px;
  display: block;
  height: 100%;
  margin:auto;
  object-fit: cover;
  width: 100%;
}
.programming-portfolio-img-container {
  display: flex;
  top:48px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  justify-items: center;
  width: 80%;
}
.programming-portfolio>h1 {
  padding: 24px 24px 24px 48px;
  height: 150px;
  width: 50%;
  display: table-caption;
}
.programming-portfolio-button {
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 180px;
}
.programming-portfolio-button>p {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
}
.programming-portfolio-button>p>a>img {
  vertical-align: middle;
  padding-right: 6px;
}
.programming-portfolio-button>p>a>span {
  vertical-align: middle;
  padding-right: 6px;
}
.programming-portfolio-button>p>a>img,
.programming-portfolio-button>p>a>span {
  vertical-align: middle;
}
.programming-portfolio-button>p>a {
  background-color: #fffaf0;
  border: solid 3px #fffaf0;
  border-radius: 100px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  color: #1a1b18;
  font-size: 20px;
  bottom: 64px;
  padding: 12px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: max-content;
}
.programming-portfolio-button>p>a:hover {
  background-color: #1a1b18;
  color: #fffaf0;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.programming-portfolio-button>p>a:hover img{
  filter: invert(88%) sepia(24%) saturate(235%) hue-rotate(323deg) brightness(107%) contrast(105%);
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.resume {
  height: max-content;
  position: relative;
}
.resume-link {
  margin: auto;
}
.resume-link>a {
  border: 3px solid;
  border-radius: 20px;
  color: #dac898;
  display: flex;
  height: 32px;
  line-height: 32px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 200px;
}
.resume-link>a:first-child:hover {
  background-color: #dac898;
  border-color: #dac898;
  color: #1a1b18;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.resume-link-container>p {
  font-size: 48px;
  padding: 20px;
  width: 400px;
}
.resume-preview {
  background-color: white;
  border-radius: 20px;
  box-shadow: -10px 10px 0px #76b598;
  display: block;
  flex: none;
  height: 600px;
  width: 420px;
}
.resume-preview>img {
  border-radius: 20px;
  display: block;
  height: 600px;
  margin: auto;
  object-fit: cover;
  object-position: 0px 0px;
  width: 420px;
  z-index: 5;
}
.right {
  left: 50%;
}
.right::after {
  left: -16px;
}
.right::before {
  border: medium solid #fffaf0;
  border-color: transparent #fffaf0 transparent transparent;
  border-width: 10px 10px 10px 0;
  content: " ";
  height: 0;
  left: 30px;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
}
.signature {
  display: flex;
  justify-content: center;
}
.signature>img {
  filter: invert(89%) sepia(21%) saturate(336%) hue-rotate(318deg) brightness(108%) contrast(106%);
}
.signature-container {
  width: 100%;
}
.signature-container>p {
  display: flex;
  justify-content: center;
}
form {
  backdrop-filter: blur(25px);
    -moz-backdrop-filter: blur(25px);
    -ms-backdrop-filter: blur(25px);
    -o-backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  background-color: rgba(26, 27, 24,0.8);
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999999;
}
.button-signup {
  color: #a63a33;
  background-color: #fffaf0;
  border: solid 3px #a63a33;
  font-family: inherit;
  font-size: 18px;
  border-radius: 50px;
  margin: 0px 0px 5px 0px;
  position: relative;
  height: 50px;
  width: 100%;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.button-guest {
  color: #76b598;
  border:solid 3px #76b598;
  font-family: inherit;
  font-size: 18px;
  background-color: #fffaf0;
  border-radius: 50px;
  margin: 5px 0px 0px 0px;
  padding-bottom: 0px;
  position: relative;
  height: 50px;
  width: 100%;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.button-guest,
.button-signup:hover {
  cursor: pointer;
}
.button-guest:hover {
  color: #fffaf0;
  background-color: #76b598;
  transition: 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.button-signup:hover {
  color: #fffaf0;
  background-color: #a63a33;
  transition: 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.signup-content {
  background-color: #fffaf0;
  border-radius: 25px;
  box-shadow: -10px 10px 0px #a63a33;
  color:#1a1b18;
  height: 600px;
  padding: 25px;
  position: fixed;
  width: 420px;
  justify-content: left;
  font-size: 18px;;
}
.signup-content fieldset {
  display: flex;
  justify-content: center;
  border: solid 3px #1a1b18;
  border-radius: 100px;
  transition: .1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.signup-field.focused {
  color:#76b598;
  border: solid 3px #76b598;
  transition: .1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.signup-content legend {
  font-size: 18px;
  margin-left: 24px;
  padding:12px;
}
.signup-content h1 {
  font-size: 48px;
  padding-top: 48px;
}
.signup-content-drop {
  border-radius: 25px;
  box-shadow: 10px -10px 0px #76b598;
  padding: 25px;
  height: 600px;
  width: 420px;
}
.signup-content input {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: 20px;
  margin-top: -10px;
  margin-bottom: 12px;
  outline: none;
  width: 90%;
}

.signup-confirm {
  display: flex;
  vertical-align: middle;
}
.signup-confirm input {
  width: 16px;
  height: 16px;
  border: #1a1b18 3px solid;
}
.signup-confirm label {
  display: block;
  position: relative;
  padding-left: 32px;
  padding-top: 2px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.signup-confirm label>input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: #1a1b18 3px solid;
  background-color: #fffaf0;
}

/* On mouse-over, add a grey background color */
.signup-confirm label:hover input ~ .checkmark {
  background-color: #ccc;
  transition: 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* When the checkbox is checked, add a blue background */
.signup-confirm label>input:checked ~ .checkmark {
  background-color: #1a1b18;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.signup-confirm label>input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.signup-confirm label .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #fffaf0;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.signup-dob b {
  font-size: 18px;
}
.signup-dob select {
  font-size: 16px;
  font-family: inherit;
  font-weight: bold;
  padding-left: 4px;
  border: #1a1b18 3px solid;
  border-radius: 50px;
  background-color: #fffaf0;
}

.signup-gender {
  position: relative;
  color: #1a1b18;
  font-size: 18px;
}
.signup-gender input {
  display: none;
}
.signup-gender > label {
  display: inline-block;
  font-size: 16px;
  position: relative;
  margin-right: 12px;
  padding-left: 24px;
  cursor: pointer;
}
/* this creates the outer circle for faux radio button */
.signup-gender > label:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  border: 3px solid #1a1b18;
  border-radius: 50%;
}
/* this creates the inner circle for active faux radio button */
.signup-gender > label:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 8px;
  margin-top: 0;
  background: #1a1b18;
  border-radius: 8px;
  transition: .1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.signup-gender :checked + label:after {
  height: 8px;
  width: 8px;
  margin-top: -4px;
  left: 5px;
}

.social-box {
  color: #dac898;
  display: inline-block;
  font-size: 24px;
  padding: 25px;
}
.social-icon {
  border-radius: 50%;
  height: 128px;
  margin-bottom: 20px;
  width: 128px;
  text-decoration: none;
  color:#fffaf0;
}
.social-icon>img {
  filter: invert(99%) sepia(50%) saturate(601%) hue-rotate(297deg) brightness(100%) contrast(111%);
  width: 128px;
}
.socials-container {
  background-color: #1a1b18;
  height: max-content;
  position: relative;
  width: 100%;
}
.socials-content {
  display: flex;
  justify-content: center;
  padding: 50px;
  text-align: center;
}
.socials-header {
  height: 100px;
  width: 100%;
}
.socials-header h1 {
  color: #fffaf0;
  font-size: 48px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  z-index: 2;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky+.content {
  padding-top: 60px;
}
.timeline {
  color: #fffaf0;
  margin: 0 auto;
  max-width: 1000px;
  padding-bottom: 100px;
  padding-top: 100px;
  position: relative;
}
.timeline::after {
  background-color: #fffaf0;
  bottom: 0;
  content: '';
  left: 50%;
  margin-left: -3px;
  position: absolute;
  top: 0;
  width: 7px;
}
.timeline-container {
  background-color: inherit;
  padding: 10px 40px;
  position: relative;
  width: 50%;
}
.timeline-container::after {
  background-color: #a63a33;
  border: 4px solid #fffaf0;
  border-radius: 50%;
  content: '';
  height: 25px;
  position: absolute;
  right: -17px;
  top: 15px;
  width: 25px;
  z-index: 1;
}
.timeline-content {
  background-color: #1a1b18;
  border: solid 3px #fffaf0;
  border-radius: 10px;
  padding: 20px 30px;
  position: relative;
}
.title {
  color: #dac898;
  font-size: clamp(0.5rem, 3vw + 0.5rem, 4rem);
  padding-top: 42vh;
  position: relative;
  z-index: -1;
}
.typewrite {
  color: #dac898;
  text-align: center;
  text-decoration: none;
}
.video-container {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -9999;
}
.video-container video {
  filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  -webkit-filter: blur(10px);
  height: 100%;
  left: 50%;
  min-height: 56.25vw;
  min-width: 100%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 177.77777778vh;
  z-index: -9999;
}
.video-overlay {
  background-color: rgb(26, 27, 24);
  height: 100vh;
  left: 0;
  opacity: 90%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -9998;
}
::-webkit-scrollbar {
  width: 0.4em;
}
::-webkit-scrollbar-thumb {
  background: #a63a33;
  border: .1em solid #dac898;
  border-radius: 0vw;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track {
  background: hsl(72, 4%, 10%);
}
@font-face {
  font-family: "Consolas";
  font-style: normal;
  font-weight: normal;
  src: local("Consolas"),
  local("Consolas"),
  url("../assets/fonts/Consolas.woff") format("woff");
}
@font-face {
  font-family: "Consolas";
  font-style: normal;
  font-weight: bold;
  src: local("Consolas Bold"),
  local("Consolas-Bold"),
  url("../assets/fonts/Consolas Bold.woff") format("woff");
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .about-content {
    padding: 50px 50px 100px 50px;
  }
  .about-text {
    position: relative;
    top: 50px;
  }
  .about-text>table {
    width: 100%;
  }
  .footer-content {
    padding: 50px 50px 50px 50px;
  }
  .footer-items {
    display: inline;
  }
  .portfolio-programming {
    height: max-content;
  }
  .programming-portfolio {
    height: 100%;
    width: 100%;
  }
  .programming-portfolio-button {
    position: relative;
    width: 100%;
    height: 240px;
  }
  .resume {
    padding: 100px 50px 100px 50px;
  }
  .resume-link-container {
    margin: auto auto auto auto;
  }
  .resume-preview {
    margin: auto auto 50px auto;
  }
}
@media only screen and (max-width: 900px) {
  #logo {
    padding: 32px;
  }
  .footer-items {
    bottom: 10px;
  }
  #navbar {
    backdrop-filter: blur(25px);
    -moz-backdrop-filter: blur(25px);
    -ms-backdrop-filter: blur(25px);
    -o-backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  }
  .link-icons {
    top: 25px;
    position: relative;
  }
  .main-section p>a {
    left: 0px;
    margin: auto;
    right: 0px;
  }
  .nav-header {
    display: block;
  }
  .personal-portfolio {
    width: 100%;
  }
  .portfolio-personal {
    display: inline;
  }
  .resume-link {
    display: inline;
  }
  .title {
    margin-left: 75px;
    margin-right: 75px;
  }
}
@media only screen and (min-width: 1200px) {
  .about-content {
    display: flex;
    padding: 50px 200px 50px 200px;
  }
  .footer-items {
    display: inline-flex;
  }
  .portfolio-programming {
    display: flex;
  }
  .programming-portfolio {
    height: 100%;
    width: 25%;
  }
  .resume {
    display: flex;
    padding: 150px 0px 150px 0px;
  }
  .resume-link-container {
    margin: auto auto auto -100px;
  }
  .resume-preview {
    margin: auto auto auto auto;
  }
}
@media only screen and (min-width: 900px) {
  #logo {
    margin-top: -24px;
    padding-left: 100px;
  }
  #navbar {
    backdrop-filter: none;
    background-color: none;
    box-shadow: none;
  }
  .flex-nav {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0;
  }
  .main-section p>a {
    right: 100px;
  }
  .nav-header {
    display: block;
  }
  .nav-link {
    display: inline-flex;
  }
  .nav-links {
    height: auto;
  }
  .nav-toggle {
    display: none;
  }
  .resume-link {
    display: flex;
  }
  .title {
    margin-left: 100px;
    margin-right: 100px;
  }
  ul {
    display: flex;
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  .left {
    margin-left: 0px;
  }
  .left::after,
  .right::after {
    left: 15px;
  }
  .right {
    left: 0%;
  }
  .timeline::after {
    left: 31px;
  }
  .timeline-container {
    margin-right: 25px;
    padding-left: 70px;
    padding-right: 25px;
    width: 80%;
  }
  .timeline-container::before {
    border: medium solid #fffaf0;
    border-color: transparent #fffaf0 transparent transparent;
    border-width: 10px 10px 10px 0;
    left: 60px;
  }
}
@supports (scrollbar-color: transparent transparent) {
  * {
    scrollbar-color: #a63a33 hsl(72, 4%, 10%);
    scrollbar-width: auto;
  }
}
body {
  background-color: hsl(72, 4%, 10%);
  font-size: 20px;
  margin: 0px;
}
footer {
  color: #1a1b18;
  font-size: 20px;
}
html {
  color: #fffaf0;
  font-family: "Consolas", Helvetica, Courier New, Courier, monospace;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
